@import url('https://fonts.googleapis.com/css?family=Montserrat');

.home {
    background-image: url('../images/HomePage.png');
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100vw;
    min-height: 100vh;
}

.home-heading {
    position: absolute;
    left: 21.5%;
    top: 2%;
    text-align: center;
    font-family: 'Montserrat';
}

.home-video {
  position: absolute;
}

.home h1 {
    color: white;
    font-size: 5vw;
    text-shadow: 2px 2px 8px black;
}

.home button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    /*background-color: #44c767;*/
	background-color: rgb(176, 212, 195);
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	color:rgb(26, 84, 57);
	font-family: 'Montserrat';
	font-size: 2vw;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    cursor: pointer;
}

.home button:hover {
    background:linear-gradient(to bottom, rgb(26, 84, 57) 5%, rgb(176, 212, 195) 100%);
	background-color:rgb(26, 84, 57);
    color: white;
}

.home-link {
    text-decoration: none;
}

.home_link:hover {
    color: white;
}

.home-link:visited {
    color: rgb(26, 84, 57);
}

.instructions {
    background-image: url('../images/InstructionsPage.png');
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100vw;
    min-height: 100vh;
}

.instructions-heading {
    position: absolute;
    font-size: 2.5vw;
    background-color:ghostwhite;
    opacity: 0.7;
    width: 55vw;
    left: 22%;
    top: 1%;
    text-align: center;
    font-family: 'Montserrat';
}

.instructions-text {
   box-sizing: border-box;
   background-color:ghostwhite;
   width: 55vw;
   height: 18vh;
   opacity: 0.7;
   font-size: 1.4vw;
   position: absolute;
   left: 22%;
   top: 9%;
   text-align: center;
   font-family: 'Montserrat';
}

.instructions-bank {
    background-color: rgb(243, 240, 240);
    width: 22vw;
    height: 5vh;
    position: absolute;
    top: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Montserrat';
}

.instructions button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
	background-color: rgb(176, 212, 195);
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	color: rgb(26, 84, 57);
	font-family: 'Montserrat';
	font-size: 2vw;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.instructions-link {
    text-decoration: none;
}

.instructions-link:visited {
    color: rgb(26, 84, 57);
}

.instructions button:hover {
    background:linear-gradient(to bottom, rgb(26, 84, 57) 5%, rgb(176, 212, 195) 100%);
	background-color:rgb(26, 84, 57);
    color: white;
}

.finalpage {
    background-image: url('../images/LastPage.png');
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100vw;
    min-height: 100vh
}

.finalpage-heading {
    position: absolute;
    font-size: 2.5vw;
    background-color:ghostwhite;
    opacity: 0.7;
    width: 55vw;
    left: 22%;
    top: 10%;
    text-align: center;
    font-family: 'Montserrat';
}

.finalpage-text {
    box-sizing: border-box;
    background-color:ghostwhite;
    width: 55vw;
    height: 44vh;
    opacity: 0.7;
    font-size: 1.5vw;
    position: absolute;
    left: 22%;
    top: 16%;
    text-align: center;
    font-family: 'Montserrat';
}

.finalpage-text ul {
    list-style-type: none;
}

.finalpage-bank {
    background-color: rgb(243, 240, 240);
    width: 22vw;
    height: 5vh;
    position: absolute;
    top: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Montserrat';
}

.questions {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    min-height: 100vh
}

.questions-choices-education {
    box-sizing: border-box;
    background-color:ghostwhite;
    width: 45vw;
    height: 23vh;
    opacity: 0.7;
    font-size: 1.8vw;
    position: absolute;
    left: 27%;
    top: 8%;
    text-align: center;
    font-family: 'Montserrat';
}

.questions-choices-occupation {
    box-sizing: border-box;
    background-color:ghostwhite;
    width: 45vw;
    height: 15vh;
    opacity: 0.7;
    font-size: 1.8vw;
    position: absolute;
    left: 27%;
    top: 10%;
    text-align: center;
    font-family: 'Montserrat';
}

.questions-choices-housing {
    box-sizing: border-box;
    background-color:ghostwhite;
    width: 45vw;
    height: 15.5vh;
    opacity: 0.7;
    font-size: 1.8vw;
    position: absolute;
    left: 27%;
    top: 10%;
    text-align: center;
    font-family: 'Montserrat';
}

.questions-choices-transportation {
    box-sizing: border-box;
    background-color:ghostwhite;
    width: 45vw;
    height: 22vh;
    opacity: 0.7;
    font-size: 1.8vw;
    position: absolute;
    left: 27%;
    top: 10%;
    text-align: center;
    font-family: 'Montserrat';
}

.questions-choices-bills {
    box-sizing: border-box;
    background-color:ghostwhite;
    width: 45vw;
    height: 33vh;
    opacity: 0.7;
    font-size: 1.8vw;
    position: absolute;
    left: 27%;
    top: 30%;
    text-align: center;
    font-family: 'Montserrat';
}

.questions-choices-family {
    box-sizing: border-box;
    background-color:ghostwhite;
    width: 45vw;
    height: 19vh;
    opacity: 0.7;
    font-size: 1.8vw;
    position: absolute;
    left: 27%;
    text-align: center;
    font-family: 'Montserrat';
}

.questions-bank {
    background-color: rgb(243, 240, 240);
    width: 22vw;
    height: 5vh;
    position: absolute;
    top: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Montserrat';
}

.questions-next-btn {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 2vw;
    cursor: pointer;
	background-color:rgb(176, 212, 195);
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	color:rgb(26, 84, 57);
    font-family: 'Montserrat';
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.questions-next-btn:hover {
    background:linear-gradient(to bottom, rgb(26, 84, 57) 5%, rgb(176, 212, 195) 100%);
	background-color:rgb(26, 84, 57);
    color: white;
}

.questions-pay-btn {
    position: absolute;
    top: 26%;
    right: 7.75%;
    width: 14vw;
    height: 14vh;
    opacity: 0;
    cursor: pointer;
}

.questions-choices-btns-education {
    position: absolute;
    top: 32%;
    left: 34.5%;
}

.questions-choices-btns-occupation1 {
    position: absolute;
    left: 18%;
    top: 26%;
}

.questions-choices-btns-occupation2 {
    position: absolute;
    left: 40%;
    top: 26%;
}

.questions-choices-btns-occupation3 {
    position: absolute;
    left: 35%;
    top: 26%;
}

.questions-choices-btns-housing1 {
    position: absolute;
    left: 39%;
    top: 27%;
}

.questions-choices-btns-housing2 {
    position: absolute;
    left: 39.5%;
    top: 27%;
}

.questions-choices-btns-transportation {
    position: absolute;
    left: 42%;
    top: 33%;
}

.questions-choices-btns-family {
    position: absolute;
    left: 43%;
    top: 21%;
}
.questions-choices-btns-style {
	background-color:rgb(176, 212, 195);
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color: rgb(26, 84, 57);
    font-family: 'Montserrat';
	font-size: 1vw;
	padding: 4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.questions-choices-btns-style:hover {
    background:linear-gradient(to bottom, rgb(26, 84, 57) 5%, rgb(176, 212, 195) 100%);
	background-color:rgb(26, 84, 57);
    color: white;
}

.questions-link {
    text-decoration: none;
}

.questions-link:visited {
    color: white;
}

.questions-arrow {
    position: absolute;
    top: 18.25%;
    right: 11%;
    transform: scale(0.5);
}